<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
</head>
<body>
   <h1>Get Hire!</h1>
    <img src="static\assets\banner.jpg" alt="" width="700" height="400">
    <p>Welcome to our job site! We are dedicated to helping job seekers find their perfect job and connecting employers with the best candidates. Our site features a vast array of job listings across a wide range of industries, including finance, technology, healthcare, education, and many more.</p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs</p>
    <button>Contact us</button>
</body>
</html>